<div class="carousel-item">
    <a class="carousel-item__link" href="{{ link }}">
        <img class="carousel-item__image" src="{{ image }}" alt="" />
        <h3 class="carousel-item__heading">{{ title }}</h3>
        <div class="carousel-item__meta">
            <div class="carousel-item__date">
                <svg class="carousel-item__date-icon" width="12" height="12">
                    <use xlink:href="#date" />
                </svg>
                <div class="carousel-item__date-label">{{ date }}</div>
            </div>
            <div class="carousel-item__location">
                <svg class="carousel-item__location-icon" width="12" height="12">
                    <use xlink:href="#location" />
                </svg>
                <div class="carousel-item__location-label">{{ location }}</div>
            </div>
        </div>
        <div class="carousel-item__share">
            <div class="carousel-item__share-toggle">
                <svg class="carousel-item__share-toggle-icon" width="24" height="24">
                    <use xlink:href="#share" />
                </svg>
            </div>
            <div class="carousel-item__share-options">
                {% include "@molecules/social-links/social-links.twig" with share only %}
            </div>
        </div>
    </a>
</div>
