<div class="event-item {% if featured %}event-item--featured{% endif %} {% if past %}event-item--past{% endif %} {% if image %}event-item--image{% endif %}">
    <a class="event-item__link" href="{{ link }}">
        {% if shortdate %}
        <div class="event-item__short-date">
            <span class="event-item__short-date-month">{{ shortdateMonth }}</span>
            <span class="event-item__short-date-day">{{ shortdateDay }}</span>
        </div>
        {% endif %}
        <div class="event-item__content">
            {% if type %}
            <div class="event-item__type">
                {{ type }}
            </div>
            {% endif %}
            {% if image %}
            <div class="event-item__image-container">
                <img class="event-item__image" src="{{ image }}" alt="" />
            </div>
            {% endif %}

            {% if past %}
            <div class="event-item__label">
                Past event
            </div>
            {% endif %}
            <h3 class="event-item__heading">{{ title }}</h3>
            <div class="event-item__meta">
                <div class="event-item__date">
                    <div class="event-item__date-label">{{ date }}</div>
                </div>
            </div>
        </div>
    </a>
</div>
