<div class="item listing-item {% if image %}listing-item--image{% else %}listing-item--no-image{% endif %} {% if featured %}listing-item--featured{% endif %}">
    <div class="listing-item__container" >

        {% if href %}
        <a class="listing-item__link content" href="{{ href }}" {% if imageBg %}style="background-image: url({{ image }})"{% endif %}>
        {% endif %}

        {% if meta %}
            <div class="listing-item__meta meta">

                {% for item in meta %}
                    <div class="listing-item__meta-item meta-item">
                        {% if item.icon %}
                            <svg class="listing-item__icon" width="21px" height="21px">
                                <use xlink:href="#{{ item.icon }}"></use>
                            </svg>
                        {% endif %}
                        {% if item.title %}
                            <div class="listing-item__meta-label meta-item__label">{{ item.title }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

            {% if image %}
                <div class="listing-item__image-container">
                    {% if video %}
                    <svg class="multimedia-item__video-icon" width="48" height="48">
                        <use xlink:href="#video" />
                    </svg>
                    {% endif %}
                    <img class="listing-item__image" src="{{ image }}" alt="" />
                </div>
            {% endif %}

            <div class="listing-item__text-container">



                <div class="listing-item__header">
                    <h2 class="listing-item__heading">{{ title|raw }}</h2>
                </div>

                {% if text and featured %}
                    <p class="listing-item__text">{{ text }}</p>
                {% endif %}

                {% if authorName %}
                    <div class="listing-item__author author">
                        <div class="author__container">
                            {% if authorImage %}
                            <div class="author__avatar">
                                <img class="author__avatar-image" src="{{ authorImage }}" alt="{{ authorName }}">
                            </div>
                            {% endif %}
                            <div class="author__info">
                                <h3 class="author__name">{{ authorName }}</h3>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if date %}
                  <div class="listing-item__date date">
                    <div class="listing-item__date-container">
                      {{ date }}
                    </div>
                  </div>
                {% endif %}

            </div>

            {% include "@atoms/share-dots/share-dots.twig" %}

        {% if href %}
        </a>
        {% endif %}

    </div>

</div>
